<div *ngIf="!pais; else divPais" 
    class="alert alert-info text-center">
    Cargando...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1> País: <small>{{ pais[0].name.common}}</small></h1>
        </div>
    </div>



    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais[0].flags.png" class="img-thumbnail" alt="">
        </div>

        <div class="col">
            <h3>Informacíon</h3>
            <ul class="list-group">
                <div class="list-group-item">
                    <strong>Continente: </strong> {{pais[0].region}}
                </div>
                <div class="list-group-item">
                    <strong>Capital: </strong> {{pais[0].capital}}
                </div>
                <div class="list-group-item">
                    <strong>Poblacíon: </strong> {{pais[0].population | number}}
                </div>
            </ul>
        </div>
    
    </div>
    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <div class="badge bg-primary mr-1">{{ pais[0].translations['spa'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['rus'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['ara'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['kor'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['tur'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['pol'].common }}</div>
            <div class="badge bg-primary mr-1">{{ pais[0].translations['ita'].common }}</div>
        </div>
    </div>




    <!--<pre class="mt-5">
        {{pais | json}}
    </pre>-->



</ng-template>

